a{
	text-decoration: none;
	color: white;
	opacity:0.9;
	text-shadow: 0px 0px 30px black;

}
#storys{
	
	color:white;
	font-size: 18px;
		font-family: 'Spartan', sans-serif;
	font-weight: 600;
	text-shadow: 0px 0px 30px black;
	letter-spacing: 3px;
	text-align: center;
	line-height: 150%;
	
	animation: fadeIn linear 3s forward;
  
	position: relative;
	transform: rotatex(-5deg);
	
	height:60%;
	width:50%;
	
	margin-left:25%;
	margin-right:25%;
	margin-top:20%;
    
    font-size:1.5em; 
    position:fixed; 
	
    opacity: 1;
   
    
    z-index:4;
}

#story{
	
	color:white;
	font-size: 22px;
		font-family: 'Spartan', sans-serif;
	font-weight: 400;
	text-shadow: 0px 0px 100px black;
	letter-spacing: 2px;
	text-align: center;
	line-height: 150%;
	
	animation: fadeIn linear 3s forward;
  
	position: relative;
	transform: rotatex(-5deg);
	
	height:60%;
	width:50%;
	
	margin-left:25%;
	margin-right:25%;
	margin-top:21%;
    
    font-size:1.5em; 
    position:fixed; 
	
    opacity: 0.8;
    
    text-shadow: 0px 0px 100px white;
    
    z-index:4;
	
}

.container { 
  margin:100px;
  height: 650px;
  position: relative;
  
  z-index:10;  
	
}

.center {
  margin: 0;
  width:50%;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
   z-index:10;  
}

.center p {
	
	/*	mix-blend-mode:overlay; */
	animation: moveIn ease-in 1.5s;
	
	color:white;
	font-size: 18px;
	font-family: 'Spartan', sans-serif;
	font-weight: 600;
	text-shadow: 0px 0px 50px black;
	line-height:170%;
	letter-spacing: 4px;
	text-align: center;

    overflow:visible;

    opacity: 0.75;
    
    z-index:10;  
}



#name 
{ font-size: 13px;
}


@keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:0.9;}
}


@keyframes float {
  to {
    transform: translateY(0.75em);
  }
}

@keyframes fadeOut{
 100% {opacity:0.9;}
 0% {opacity:0;}
}

@keyframes moveIn{
	0% {transform: scale(1.5)}
	20% {transform: scale(1)}
	100% {transform: scale(1.5)}
}


body {
	
  animation: fadeIn linear 4s, moveIn linear 10s;
  animation-fill-mode: forwards;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  perspective: 15em;
  background: black;
/*  background: linear-gradient(#B6C5D7 45%, #D8CCC4 55%);*/
	
  /* background-image: url("img/story1.png"); */
}

/*
#storys:active{
  transition-duration:2s;
  transform: scale(1);
}
*/

div {
  position: absolute;
  transform-style: preserve-3d;
}

.a3d {
  top: 50%;
  left: 50%;
  animation: move var(--t) linear infinite;
}

@keyframes move {
  to {
    transform: translatez(7em);
  }
}
.ring {
  transform: rotatex(88deg) translatey(calc((1 - var(--j))*7em)) skewy(0deg);
}

.segm {
  margin: -10em -50vmax;
  width: 100vmax;
  height: 7em;
  transform: rotatey(var(--ca)) translatez(40vmax);
	
/*  box-shadow: inset 3 3 3px black; */
/*  background: linear-gradient(#8AA0BA, grey, #8AA0BA, grey, #8AA0BA,grey,#8AA0BA,grey);*/
/*  background: linear-gradient(#8AA0BA, #CDBBAA,#8AA0BA,#CDBBAA);*/
	
/*  background: linear-gradient(white 0%, black 2%, black 49%, white 50%, black 51%,black 100%);*/
	
  background-image: url("img/tunnel19.png")
	
/*   background-image: url("../imga/bg7.png");*/
}

@keyframes fade {
  to {
    opacity: calc((var(--n) - var(--j))/var(--m));
  }
}

/*** TUTOR CODE - FADE IN WRAPPER ***/
.bg-image {
  width: 3vw; 
  height: 5.5vw;
  animation: fadeIn 3s linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  overflow: hidden;
/*  background-image: url("./img/story13.png");*/
  background-position: center;
  background-repeat: no-repeat;
  transition: width 3s, height 3s;
}

.bg-image.transition {
  width: 100%;
  height: 100%; 
}

.bg-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: grid;
  justify-items: center;
  align-items: center;
}

