body{	
    font-size: 16px;
    	font-family: 'Spartan', sans-serif;
    font-weight: 800;
    color: white;
	
    text-align: center;
	display:block;
	letter-spacing: 4px;
	text-shadow: 0px 0px 10px grey;
	opacity:1;
	
	filter: brightness(1.4) saturate(1.8) url('#squiggly-1') filedrop(NaN) invert(0.07) contrast(0.9) sepia(0.04);
}

iframe 
{ 

/*	filter: hue-rotate(20deg);*/
/*	filter: grayscale(10%);*/
/*	filter: saturate(1.6);*/
	filter:contrast(1.1);

	position:fixed; 
    top:0; 
    left:0; 
    top:-100px; 
    left:-10px; 
    width:120%; 
    height:120%; 
	
    border:none; 
    margin:0%; 
    padding:0; 
	
    overflow:hidden; 
    z-index:0; 
	
}

#overlay img{
	
/*  mix-blend-mode:darken;*/
/*  mix-blend-mode:difference;*/
/*
  mix-blend-mode:darken;
	
  mix-blend-mode:hard-light;
*/
	
  mix-blend-mode:saturation;
	
  opacity:25%;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  z-index:1;
  
	
  pointer-events:none;
}




#back img
{
    position:fixed; 
	height:35px;
	width:35px;
	top:25px;
	left:30px;
    z-index:4
}


#title 
{ 
    position:fixed; 
	
/*	opacity: 0.7;*/

    
    margin-left:25%;
	margin-right: 25%;
	width: 50%;
    top:30px;

    z-index:3
}

#location 
{ 

    position:fixed; 
/*    opacity: 0.7;*/

	top:30px;
	right:30px;
    z-index:3
}

#name 
{ 
   
    position:fixed; 
    opacity: 0.8;
	    
    
    margin-left:25%;
	margin-right: 25%;
	width: 50%;
	bottom:30px;
	
    z-index:2;
}

.container { 
  margin:100px;
  height: 650px;
  position: relative;
	
  pointer-events:none;
	
}

.center {
  margin: 0;
  width:80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	
  pointer-events:none;
}

.center p {
	
	/*	mix-blend-mode:overlay; */
	animation: moveIn ease-in 1.5s;
	
	color:white;
	font-size: 41px;
		font-family: 'Spartan', sans-serif;
	font-weight: 600;
	text-shadow: 0px 0px 50px black;
	letter-spacing: 4px;
	text-align: center;

    overflow:visible;
    pointer-events:none;

    opacity: 0.75;
    
    z-index:2  
}


body{
	animation: fadeIn ease-in 3s;
}
     
@keyframes moveIn{
  0% {transform:scale(1.5)}
  100% {transform:scale(1)}
}
@keyframes fadeIn{
  0% {opacity:0;}
  100% {opacity:0.9;}
}



/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: pink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
}

/*
img {
  height: 500px;
  padding: 10px;
  z-index:0
    
}
*/

#logo{

    font-size:1.2em; 
    position:fixed; 
   
    	font-family: 'Spartan', sans-serif;
    color: black;
    font-weight: 400;
    
    padding:40px;
    
    z-index:3

}



.column {
  float: left;
  padding-top:200px;
  padding-left: 10%;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

 .disable-select{
  user-select:none;
}